*.classpath
*.project
*.settings
*.springBeans
*.out
target/
logs/
src/main/resources/log4j.properties
src/main/resources/hibernate.cfg.xml
src/main/java/br/com/ufba/roomsmanageradmin/dao/Myconnection.java