@IMPORT url("aplicacao.css");
@IMPORT url("bootstrap.css");
@IMPORT url("jquery-ui.css");

.eventoDetails{
	width: 100%;	
}

form:status_true{
	margin-right: 2em;
}

.style1,
.style2{
	border-radius: 5px;
	padding: 2px;
}

 .style1,
 .style1 .fc-event-inner{
 	border: 1px solid blue;
	background-color: blue;
}

.style2,
.style2 .fc-event-inner{
	border: 1px solid #ff9900;
   	background-color: #ff9900;
}

.reservaDialogo{
	float: left;
	position: absolute;
	right: 25%;
	top: 16%;
	height: 10%;
}