#form .span12{
	margin-left: 0;
}

.info{
	color: #8D8D8D;
	padding-left: 10px;
	margin-bottom: 2px;
}

.bt{
	margin: 10px 0px 10px 0;
}

._4 > input{
	width: 75%;
}

#topo > .ui-layout-unit-content{
	overflow: hidden !important;
	border: 0px;
}

#topo, #conteudo, #lateral,
#conteudo > .ui-widget-content{
	border: 0px;
}

#conteudo > .ui-widget-content{
	
}

#formulario > legend{
	width: 435px !important; 
	padding: 0 2em  !important;
}

legend.ui-fieldset-legend{
	width: 94%;
}

span.ui-outputlabel-rfi{
	color: #FF0000;
}

.span100{
	width: 99%; /* all browsers */ 
	width: -moz-calc(100% - 20px); /* Firefox 4+ */ 
	width: calc(100% - 20px); /* IE9+ and future browsers */ 
	margin: 10px 0 0px 0px  !important;
	padding: 10px;
}

#conteudo{
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	min-height: 460px;
	float:left;
	background: #fff;
}

#form_login{
	width: 60%;
	vertical-align: middle;
	position: absolute;
	top: 28%; /* all browsers */ 
	top: -moz-calc(50% - 156px); /* Firefox 4+ */ 
	top: calc(50% - 156px); /* IE9+ and future browsers */ 	
}

footer#rodape{
	margin-top: 3px !important;
	box-shadow: 0px -3px;
	height: 60px;
	background: url(images/textura_footer.png) #eae7e5;
}


body{
	padding: 0;
	margin: 0;
	background: url(images/textura_footer.png) #eae7e5 !important;
}

.titulo_mapa{
	color: #FF9900;
	text-align: center;
	font-family: Impregnable;
 	font-size: 44pt;
}

.mapTree{
	width: 100%;
}

#topo_pagina > .navbar{
	width: 100%;
	z-index: 999;
}

.vAux{
	height: 44px;
}

 .logo_index{
 	margin: 15% 30%;
 }
 
 .logo_index h1{
 	font-family: Admiration;
 	font-size: 30pt;
 	color: #FF9900;
 	
 }
 
 .nav{
 	width: 80%;
 } 
 
 .logout{
 	float: right !important;
 }
 
 .logout img{
 	width: 21px;
 }

#j_idt92:dialog{
 	position: relative;
 	left: 17px;
    top: -512px;
 }

#topo_pagina{
	height: 45px;
}

#topo_pagina .btn-group{
	padding-top: 3px;
}

#topo_pagina .dropdown-menu{
	
	left: 22px !important;
}

#topo_pagina .btn{
 	border: 0;
 	box-shadow: none;
	height: 26px;
	box-shadow: 0px;
	background: #eae7e5 !important;
	background: -moz-linear-gradient(top, #eae7e5 0%, #cccccc 78%, #cccccc 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eae7e5), color-stop(78%, #cccccc), color-stop(100%, #cccccc)) !important;
	background: -webkit-linear-gradient(top, #eae7e5 0%, #cccccc 78%, #cccccc 100%) !important;
	background: -o-linear-gradient(top, #eae7e5 0%, #cccccc 78%, #cccccc 100%) !important;
	background: -ms-linear-gradient(top, #eae7e5 0%, #cccccc 78%, #cccccc 100%) !important;
	background: linear-gradient(to bottom, #eae7e5 0%, #cccccc 78%, #cccccc 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae7e5', endColorstr='#cccccc',GradientType=0 )!important;
}

.middle{
	
	height: 608px;
	width:99%;
	  
	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;
	
	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	
	/* Safari, Chrome, and Opera */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	
	display:box;
	box-pack:center;
	box-align:center;
}

.form_acess,
.form_acess table{
	margin: 0 auto;
	width: 400px;
}

.form_acess{
	margin-top: 80px;
}